<!doctype html>
<html lang="ru">
{% include 'head.twig' %}
<body>
<div class="container">
    {% include 'header.twig' %}
</div>

<div class="container d-flex h-100 justify-content-center">
    <h1 class="display-4">404, Page not found.</h1>
</div>
</body>
</html>