<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Посты</a>
                </li>
                {% if logged %}
                <li class="nav-item">
                    <a class="nav-link" href="/mvc/profilePage">Профиль</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mvc/logout">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/mvc/registrationPage">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mvc/loginPage">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>